<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}">
  <head>
    <meta charset="utf-8">
    <title>
      {{ if .Page.IsHome }}
        {{ .Site.Title }}
      {{ else }}
        {{ .Page.Title }} - {{ .Site.Title }}
      {{ end }}
    </title>

    {{ partial "meta.html" . }}
  </head>
    <body>
      {{ "<!-- Page.Kind=" | safeHTML }}{{ .Kind }}{{ " -->" | safeHTML }}
      {{ if not .Draft }}
        {{ partial "google_analytics.html" . }}
      {{ end }}

      <div class="header">
        {{ partial "header.html" . }}
      </div>

      <div class="main">
        <div class="toc-area" {{- if $.Site.Params.derty.pagefind }} data-pagefind-ignore="all"{{ end -}}>
          {{ .TableOfContents }}
        </div>
        <div class="main-area" {{- if and $.Site.Params.derty.pagefind (not .IsPage) }} data-pagefind-ignore="all"{{ end -}}>
          {{ block "main" . }}{{ end }}
        </div>
        <div class="side-area" {{- if $.Site.Params.derty.pagefind }} data-pagefind-ignore="all"{{ end -}}>
          {{ partial "search.html" . }}
          {{ partial "profile.html" . }}
          {{ partial "latest.html" . }}
          {{ partial "tags.html" . }}
        </div>
      </div>

      <div class="footer" {{- if $.Site.Params.derty.pagefind }} data-pagefind-ignore="all"{{ end -}}>
        {{ partial "footer.html" . }}
      </div>

      {{ partial "minjs.html" (dict "js" "js/derty.js" "static" "js/derty.js" "base" .Site.BaseURL) }}

    </body>
</html>
{{/* vim: set et ft=html sts=2 sw=2 ts=2 : */}}
